{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- Download Section Start -->" | safeHTML }}

        <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-20">
            <div class="w-full lg:w-96 px-5 flex flex-col items-center lg:items-end space-y-2 lg:space-y-5">
            {{ range .Site.Params.download.btn }}
                <div class="flex flex-col items-end">
                    <span class="w-fit text-end border-cyan-900 border-opacity-50 text-sm border-2 py-2 px-4 rounded-3xl gradient-text-before hover:gradient-text hover:border-cyan-200 transition-colors duration-200 ease-in-out flex space-x-2">
                        <a href="{{ with .url }}{{.}}{{ end }}" target="_blank" class="btn btn-main">
                            {{ with .name }}{{.}}{{ end }} 
                        </a>
                        <i class="{{ with .icon }}{{.}}{{ end }}"></i>
                    </span>
                    <div class="text-end text-neutral-500 text-xs mt-1 mr-1">
                        {{ with .caption }}{{.}}{{ end }} 
                    </div>
                </div>
            {{ end }}
            </div>
            
            <div class="mt-12 lg:-mt-5">
                <div id="release-note" class="px-5 text-sm" ></div>
                <script> 
                    var xhr= new XMLHttpRequest();
                    xhr.open('GET', '{{ with .Site.Params.download.releaseNote }}{{.}}{{ end }}', true);
                    xhr.onreadystatechange= function() {
                        if (this.readyState==4 && this.status==200)                
                            document.getElementById('release-note').innerHTML= this.responseText;
                    };
                    xhr.send();
                </script> 
            </div>
        </div>

{{ end }}