{{ define "main" }} {{ partial "page-title.html" . }} {{ "<!-- Blog Section Start -->"
| safeHTML }}
<div class="flex flex-col px-5 lg:px-24 space-y-5">
  {{ range (.Paginator 6).Pages }} {{ "<!-- single blog post -->" | safeHTML }}
  <div class="flex flex-col">
    <div class="text-lg font-semibold">
      <a class="gradient-text" href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    <span class="text-xs text-neutral-400 mb-1"
      >{{ .Date.Format .Site.Params.dateFormat }}</span
    >
    <div class="text-sm">
      <p>{{ .Summary }}</p>
    </div>
    <div class="group">
      <div class="bg-neutral-500 w-12 h-2 absolute mt-3 -z-10 group-hover:w-16 group-hover:scale-y-150 group-hover:scale-x-100 group-hover:translate-x-1/8 group-hover:-translate-y-1/4 transition-transform bg-gradient-to-r from-cyan-400 to-white opacity-50"></div>
      <a class="text-sm" href="{{ .Permalink }}">Read more</a>
    </div>
  </div>
  {{ "<!-- /single blog post -->" | safeHTML }} {{ end }}
  <div class="col-12 text-center">
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ "<!-- Blog Section End -->" | safeHTML }} {{ end }}
