{{ $data := index .Site.Data .Site.Language.Lang }} {{ with $data.comments }} {{
if .enable }} {{ "<!-- Feature Section Start -->" | safeHTML }}
<div class="flex flex-col space-y-10 my-20">
  <div class="flex flex-col mx-auto text-center">
    {{ with .title }}
    <div class="mx-auto text-2xl font-semibold gradient-text">{{ . }}</div>
    {{ end }}
    <div
      class="mt-2 mx-auto bg-gradient-to-tl from-white to-blue-500 w-20 h-[5px] rounded-md"
    ></div>
  </div>
  <div class="grid lg:grid-cols-2 gap-4">
    {{ range .item }} {{ "<!-- Single Comment Item -->" | safeHTML }}
    <div
      class="flex flex-col mb-5 p-5 transition-colors duration-200 ease-in-out group"
    >
      <div class="flex mb-2">
        <img
          src="{{ .avatar }}"
          alt="{{ .name }}"
          class="w-10 h-10 my-auto mr-5 rounded-full border-2 border-cyan-300"
        />
        <div class="flex flex-col my-auto">
          <div class="mb-1">{{ .username }}</div>
          <div class="text-sm text-neutral-500">{{ .institution }}</div>
        </div>
      </div>
      <div class="text-neutral-400 group-hover:gradient-text">
        {{ .comment }}
      </div>
    </div>
    {{ "<!-- End Single Feature Item -->" | safeHTML }} {{ end }}
  </div>
</div>
{{ "<!-- End Feature section -->" | safeHTML }} {{ end }} {{ end }}
