{{ "<!-- Footer Start -->" | safeHTML }}
<div id="footer" class="flex justify-between p-5 text-neutral-500 mt-36 py-20 border-t-[1px] border-cyan-900">
  <div class="flex flex-col text-neutral-400 space-y-2">
    <div class="space-x-2 text-xxs text-neutral-500"><span>Contact</span> <a href="mailto:hi@paperlib.app">hi@paperlib.app</a></div>
    <h3>Copyright 2022. All rights reserved.</h3>
  </div>

  <div class="flex flex-col">
    <h3 class="text-neutral-400 mb-1">{{ .Site.Params.footerQuicklinkTitle }}</h3>
    <ul class="text-sm">
      {{ range .Site.Menus.quicklink }}
      <li class="hover:text-neutral-400">
        <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ "<!-- end footer -->" | safeHTML }} {{ "<!-- Essential Scripts -->" |
safeHTML }}
