{{ "<!-- Fixed Navigation -->" | safeHTML }}
<div class="flex flex-col">
  <div class="flex py-2 lg:py-5 justify-between">
    <a
      class="ml-0 lg:ml-2 flex space-x-1"
      href="{{ .Site.BaseURL | relLangURL }}"
    >
      <img
        class="h-6 my-auto mr-1"
        src="{{ .Site.Params.logo | absURL }}"
        alt="{{ .Site.Title }}"
      />
      <span class="my-auto uppercase text-lg gradient-text"
        >{{ .Site.Title }}</span
      >
    </a>

    <div class="my-auto hidden lg:flex">
      <div class="flex space-x-5">
        <div class="text-neutral-400 hover:text-cyan-300">
          <a href="{{ .Site.BaseURL }}"
            >{{ with .Site.Params.home }}{{ . }}{{ end }}</a
          >
        </div>
        {{ range site.Menus.nav }}
        <div class="text-neutral-400 hover:text-cyan-300">
          <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        </div>
        {{ end }}
        <a class="my-auto" href="https://github.com/GeoffreyChen777/paperlib"
          ><img
            style="height: 20px; filter: invert(90%)"
            src="https://img.shields.io/github/stars/GeoffreyChen777/paperlib?style=social"
        /></a>
        <div class="text-base my-auto">
          {{ range .Site.Params.listeLangues }} {{ partial "flags.html" (dict
          "site" $.Site "liste" .) }} {{ end }}
        </div>
      </div>
    </div>
    <div id="dropdown" class="my-auto block lg:hidden">
      <i class="bi-list"></i>
    </div>
  </div>

  <div
    id="dropdown-menu"
    class="space-y-2 items-center flex invisible flex-col absolute top-20 left-0 bg-[#100e17] pb-5 w-screen shadow-lg"
  >
    <div class="text-neutral-400 hover:text-cyan-300">
      <a href="{{ .Site.BaseURL }}"
        >{{ with .Site.Params.home }}{{ . }}{{ end }}</a
      >
    </div>
    {{ range site.Menus.nav }}
    <div class="text-neutral-400 hover:text-cyan-300">
      <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </div>
    {{ end }}
    <div>
      {{ range .Site.Params.listeLangues }} {{ partial "flags.html" (dict "site"
      $.Site "liste" .) }} {{ end }}
    </div>
    <a class="my-auto" href="https://github.com/GeoffreyChen777/paperlib"
      ><img
        style="height: 20px; filter: invert(90%)"
        src="https://img.shields.io/github/stars/GeoffreyChen777/paperlib?style=social"
    /></a>
  </div>
</div>

<script>
  const dropdownButton = document.querySelector("#dropdown");
  const dropdownList = document.querySelector("#dropdown-menu");

  dropdownButton.addEventListener("click", () => {
    dropdownList.classList.toggle("invisible");
  });
</script>
