{{ if .Site.Params.sponsors.enable }} {{ "<!-- Sponsors Section Start -->" |
safeHTML }}
<div class="flex flex-col my-20">
  <div class="flex flex-col mx-auto mb-10 text-center">
    {{ with .Site.Params.sponsors.topTitle }}
    <div class="text-[0.5em] tracking-widest">{{ . }}</div>
    {{ end }} {{ with .Site.Params.sponsors.title }}
    <div class="mx-auto text-2xl font-semibold gradient-text">{{ . }}</div>
    {{ end }}
    <div
      class="mt-2 mx-auto bg-gradient-to-tl from-white to-blue-500 w-20 h-[5px] rounded-md"
    ></div>
  </div>

  {{ range .Site.Params.sponsors.logo }}
    <div
      class="mx-auto bg-neutral-200 p-2 rounded-lg shadow-md w-36"
    >
      <img
        src="{{ with .url }}{{.}}{{ end }}"
      />
    </div>
    {{ end }}
</div>
{{ end }}
